*{
    margin: auto;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 680px;
}

ul{
    display: flex;
    gap: 24px;
    text-decoration: none;
    list-style: none;
    
}

.Header, .WebsiteInfo, .Footer{
    background-color: #1f2937;
    color: white;
    
}


.Blocks{
    width: 50%;
    margin: 36px auto 36px auto;
    
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.WebsiteInfo{
    padding: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 8px;
}

.Web-left{
    max-width: 40%;   

}

.Web-left h2{
    font-size: 30px;
}

.borderdiv{
    border: 2px solid white;
    width: 200px;
    height: 100px;
    
}

.RandomInfo{
    text-align: center;
    padding: 16px;
}

.Blocks{
    display: flex;
    gap: 24px;
}

.Testimonial{
    padding: 48px;
    padding-left: 150px;
    padding-right: 150px;
}

.Testimonial p{
    font-size: 16px;
    font-weight: 400;
}

.Thor{
    text-align: right;
    
}
.Testimonial{
    background-color: #E5E7EB;
}

.CalltoAction{
    padding: 20px;
}

.Callbox{
    padding: 20px;
    background-color: #3882F6;
    max-width: 70%;
    border-radius: 12px;
    color: white;
}

.Footer{
    padding: 24px;
    text-align: center;
}

.Header h3{
    font-size: 18px;
    color: #F9FAF8;
}

.Header ul{
    font-size: 12px;
}
.blocks img{
    border: #3882F6 2px;
}

.Callbox{
    display: flex;
    justify-content: space-around;
}

.boxdiv {
    border: 2px solid #3882F6;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 12px;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 6px;
}

section{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #1f2937;
}

.Web-left button{
    margin-top: 12px;
}

.Callbox button{
    border: 1px solid white;
    padding: 8px;
}